$title: 'Raleway', sans-serif;
$text: 'Montserrat', sans-serif;
$green: #00FFB2;
$dark-grey: #696969;
$grey: #e9e9e9;

header {
  padding: 40px;
  h2 {
    font-family: $text;
    color: $dark-grey;
    font-size: 20px;
    line-height: 40px;
    letter-spacing: 5px;
    text-align: center;
  }
  button {
    background-color: $green;
    font-family: $text;
    border: 1px solid $green;
    border-radius: 2px;
    padding: 5px;
    font-size: 12px;
    margin-top: 10px;
  }
  .center {
    flex-direction: row;
  }
}

@media screen and (min-width: 900px) {
  header {
    button {
      padding: 10px;
      font-size: 18px;
      margin: 60px;
    }
  }

  .center {
    justify-content: flex-start;
  }

  .news-feed {
    margin: 0px 20%;
  }
}